<ion-header class="navbar">
<ion-toolbar color="light">
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-searchbar class="pesquisa" slot="start"></ion-searchbar>
  <ion-buttons slot="end">
    <ion-icon class="notificaçao" name="notifications-outline"></ion-icon>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content color="light" class="conteudo">
<ion-item color="light" class="perfil">
  <ion-thumbnail item-left>
    <ion-icon class="user" name="person-circle"></ion-icon>
  </ion-thumbnail>

  <ion-label>
    <h2 class="nome">O Sônico</h2>
    <p class="descriçao">@sonicodopd</p>
    <p class="descriçao-2">agora</p>
  </ion-label>
  <button>Seguir</button>
</ion-item>

<ion-card class="feed" color="light">
  <p class="legenda">
    coé rapaziada, vocês conhecem o danran? danranranranranranran 🚗 <span></span>
  </p>
  <img
    class="bd1"
    width="810"
    height="350"
    alt="bd1"
    src="https://i.imgur.com/CKusCXJ.png"
  />
  <ion-card-header class="chat" color="light">
    <div class="icons">
      <ion-icon class="icon" name="heart-outline"></ion-icon>
      <ion-icon class="icon" name="chatbubble-outline"></ion-icon>
      <ion-icon class="icon" name="bookmark-outline"></ion-icon>
    </div>
    <ion-card-subtitle class="chat-title"
      ><span>Mais comentários...</span></ion-card-subtitle
    >
  </ion-card-header>
</ion-card>

<ion-item color="light" class="perfil">
<ion-thumbnail item-left>
  <ion-icon class="user" name="person-circle-outline"></ion-icon>
</ion-thumbnail>

<ion-label>
  <h2 class="nome">memes do sônico</h2>
  <p class="descriçao">@sonicopiadas_</p>
  <p class="descriçao-2">9 min</p>
</ion-label>
<button>Seguir</button>
</ion-item>

<ion-card class="feed" color="light">
<p class="legenda"> caraca man  <span></span>
</p>
<img
  class="memes"
  width="810"
  height="360"
  alt="sonicomemes"
  src="https://pbs.twimg.com/media/EkdS5CkXYAIzCBB.jpg"
/>
<ion-card-header class="chat" color="light">
  <div class="icons">
    <ion-icon class="icon" name="heart-outline"></ion-icon>
    <ion-icon class="icon" name="chatbubble-outline"></ion-icon>
    <ion-icon class="icon" name="bookmark-outline"></ion-icon>
  </div>
  <ion-card-subtitle class="chat-title"
    ><span>Mais comentários...</span></ion-card-subtitle
  >
</ion-card-header>
</ion-card>

</ion-content>
