<ion-content color="dark" class="conteudo">
  <ion-item color="dark" class="perfil"> </ion-item>

  <ion-card class="feed" color="dark">
    <img
      alt="Ariana"
      src="https://i.imgur.com/QuRDAKX.png"
    />
    <ion-text class="principal" color="light">‎ ‎ ‎ ‎ ‎ ‎ 
    ‎  ‎ Acompanhe a carreira da diva pop Ariana Grande
  </ion-text>
    <img
    alt="Ariana2"
    src="https://i.pinimg.com/originals/e4/4d/7b/e44d7b7ce12f8a548c27aaaadd49ff73.png"
  />
  
  </ion-card>
</ion-content>
