<ion-header>
<ion-toolbar>
  <ion-title text-center>Login</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding class=”loginPage” scroll=”false”>
<ion-list>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)] = "nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" [(ngModel)] = "senha"></ion-input>
  </ion-item>

</ion-list>

<ion-button fill="solid" expand="block" color="dark" (click)="login()">Logar</ion-button>
<ion-button fill="outline" expand="block" color="success" (click)="encaminharRegister()">
    <ion-icon slot="start" name="add"></ion-icon>
    Fazer cadastro
</ion-button>
</ion-content>