
<ion-content color="light">
  <ion-text class="texto" color="primary"><p> </p>‎‎ ‎‎ ‎‎ ‎ ‎ ‎ ‎ ‎ ‎   ‎ ‎  ‎ ‎ ‎    ‎        ‎ ‎    ‎  Acompanhe novidades do mundo SONIC </ion-text>
  <img alt="sonicando" src="https://i.imgur.com/5qYaQm0.png"/>
  <ion-card>
  <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXLiGsHh68czfSi8cxJhr_ZynYapPsaryNaBXcoLjuhubUKBo12Eb8XSsJTaVg7kZzll0&usqp=CAU"></ion-img>
  </ion-card>
  <div class="vertical-center">
  <div class="animate__animated animate__zoomIn">
    <ion-img src="https://www.pngmart.com/files/13/Sonic-The-Hedgehog-Movie-PNG-Background-Image.png" class="ion-align-self-end"></ion-img>
  </div>   
</div>
</ion-content>
