ion-app {
  

  ion-content {
    --ion-color-base: transparent;

    ion-slides {
      --bullet-background: #eee;
      --bullet-background-active: #FFFF;
    

      ion-slide {
        height: 476px !important;

        &:nth-child(1) {
          background-color: rgb(111, 199, 226);
        }

        &:nth-child(2) {
          background-color: rgb(243, 121, 99);
        }

        &:nth-child(3) {
          background-color: rgb(253, 231, 103);
        }
      }
    }
  }
}

.center {
  align-items: center;
  width: 80%;
margin-left: 12%;
}