<ion-header class="navbar">
<ion-toolbar color="light">
  <ion-title class="titulo"> Cadastre-se</ion-title>
</ion-toolbar>
</ion-header>


<ion-content class="background">
<div class="log">
<h2>Login</h2>
</div>
<div class="input-group">
  <label class="label">Email</label>
  <input
    autocomplete="off"
    name="Email"
    id="Email"
    class="input"
    type="email"
  />
  <div></div>
</div>

<div class="input-group">
  <label class="label">Senha</label>
  <input
    autocomplete="off"
    name="Email"
    id="Email"
    class="input"
    type="password"
  />
  <div></div>
</div>

<div class="input-group">
  <label class="label">Confirme a Senha</label>
  <input
    autocomplete="off"
    name="Email"
    id="Email"
    class="input"
    type="password"
  />
</div>

<div class="box">
  <ion-checkbox class="check" slot="start"></ion-checkbox>
  <ion-label class="titulo-check">Aceito os termos...</ion-label>
</div>

<button [routerLink]="['/tabs/tab4']"><span>Entrar</span></button>
</ion-content>
