.titulo {
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
}

.defina {
  text-align: center;
  margin-top: 3%;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.input {
  width: 290px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
  outline: none;
  border-color: #e69465;
}

.input-group:hover .label,
.input:focus {
  color: #05060fc2;
}

.input,
.label,
.box {
  margin-left: 16%;
  margin-top: 2%;
}

.box {
  margin-left: 18.5%;
}

.check {
  width: 12px;
  height: 12px;
}

.titulo-check {
  font-size: 10px;
  margin-left: 1%;
}

button {
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 7px;
  background-color: #e69465;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
}

button span {
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button:hover {
  color: #ffffff;
  background-color: #e2834d;
  transition: 0.3s;
}

button:hover span {
  padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
